<div class="center">
  <h2>Youtube Comments Sentiment</h2>
</div>
<div class="input-group bottom-space">
  <input [(ngModel)]="videoUrl" type="text" class="form-control" placeholder="Youtube Video URL" aria-label="Youtube Video URL" aria-describedby="Youtube Video URL">
  <div ngbDropdown class="input-group-append">
    <button class="btn btn-danger" ngbDropdownToggle>Analyze</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="getCommentsSentiment(5)">Maximum 5 Comments</button>
      <button ngbDropdownItem (click)="getCommentsSentiment(10)">Maximum 10 Comments</button>
      <button ngbDropdownItem (click)="getCommentsSentiment(25)">Maximum 25 Comments</button>
      <button ngbDropdownItem (click)="getCommentsSentiment(50)">Maximum 50 Comments</button>
      <button ngbDropdownItem (click)="getCommentsSentiment(100)">Maximum 100 Comments</button>
    </div>
  </div>
</div>
<div>
  <ol>
    <li *ngFor="let youtubeUrl of videoSentimentHistory.youtubeUrls">
      {{youtubeUrl}}
    </li>
  </ol>
</div>
<ng-template [ngIf]="display === 'analysis'">
  <div class="center">
    <h2>Youtube Video</h2>
  </div>
  <iframe width="100%" height="400" [src]="safeEmbedUrl" title="Embedded youtube video" allowfullscreen></iframe>
  <hr />
  <div>
    <div class="center">
      <h2>Sentiment Analysis</h2>
    </div>
    <comments-sentiment-table [commentsSentimentAnalysis]="commentsSentimentAnalysis"></comments-sentiment-table>
  </div>
</ng-template>
<ng-template [ngIf]="display === 'loading'">
  <div class="center">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>