<header>
  <nav class="navbar navbar-light bg-white mb-5">
    <div class="navbar-header">
      <img
        src="assets/logo.png"
        width="80"
        height="80"
        placement="bottom"
        ngbTooltip="Youtube Jam"
        [routerLink]="['/']">
      <a
        class="material-icons-outlined md-36 left-nav"
        placement="bottom"
        ngbTooltip="Comments Sentiment"
        [routerLink]="['/youtube-comments-sentiment']">assessment</a>
      <a
        class="material-icons-outlined md-36 right-nav"
        placement="bottom"
        ngbTooltip="Github"
        [href]="githubRepo"
        target="_blank">code</a>
      <a
        class="material-icons-outlined md-36 right-nav"
        placement="bottom"
        ngbTooltip="Register"
        [routerLink]="['/register']">person_add</a>
      <a
        class="material-icons-outlined md-36 right-nav"
        placement="bottom"
        ngbTooltip="Login"
        [routerLink]="['/login']">how_to_reg</a>
        
    </div>
  </nav>
</header>
