.navbar-header {
  text-align: center;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-brand {
  line-height: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.material-icons-outlined.md-light {
  color: #e9e9e9;
}

.material-icons.md-24, .material-icons-outlined.small {
  font-size: 28px;
  text-decoration: unset;
}

.material-icons.md-36, .material-icons-outlined.medium {
  font-size: 38px;
  text-decoration: unset;
}

.material-icons.md-48, .material-icons-outlined.large {
  font-size: 48px;
  text-decoration: unset;
}

img.hoverable, .material-icons-outlined {
  cursor: pointer;
}

.left-nav {
  float: left;
  line-height: 60px;
  margin-right: 20px;
}

.right-nav {
  float: right;
  line-height: 60px;
  margin-left: 20px;
}

a:focus, img:focus {
  outline: 0;
}