<table class="table table-dark">
  <caption>Statistics of Channel</caption>
  <thead>
    <tr>
      <th scope="col">Statistic</th>
      <th scope="col">Analysis Date</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Average Sentiment Score</th>
      <td class="centerAlign">{{channelSentimentAnalysis.analysisDate | date:'EEEE, MMMM d, y, h:mm:ss a'}}</td>
      <td class="centerAlign"><ngb-progressbar type="{{channelSentimentAnalysisProgressBar.type}}" [value]="channelSentimentAnalysisProgressBar.value" [striped]="true">{{channelSentimentAnalysisProgressBar.value}}%</ngb-progressbar></td>
    </tr>
  </tbody>
</table>
<table class="table table-dark">
  <caption>Sentiments of videos</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Video Title</th>
      <th scope="col">Sentiment Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videoList">
      <th scope="row">{{video.id}}</th>
      <td><a href="https://youtube.com/watch?v={{video.videoURL}}">{{video.videoTitle}}</a></td>
      <td class="centerAlign"><ngb-progressbar type="{{video.type}}" [value]="video.roundedSentimentScore" [striped]="true">{{video.roundedSentimentScore}}%</ngb-progressbar></td>
    </tr>
  </tbody>
</table>