<table class="table table-dark table-bordered">
        <caption>Statistics</caption>
        <thead>
          <tr>
            <th scope="col">Statistic</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Average Sentiment Score</td>
            <td>{{sentimentAnalysis.averageSentimentScore}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-dark table-bordered">
        <caption>Comment Sentiments</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th scope="col">Comment</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comment of sentimentAnalysis.commentList; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{comment.authorName}}</td>
            <td>{{comment.content}}</td>
            <td>{{comment.sentimentScore}}</td>
          </tr>
        </tbody>
      </table>
      