<div class="hero">
  <div>
    <img class="hero-mainpage" src="assets/LandingPage.png">
  </div>
</div>
<hr>
<div class="hero">
  <div class="hero-text">
    <h2>Comments Sentiment</h2>
    <p>
      YoutubeJam allows users and creators to recieve a sentiment
      score that provides a way to see the feedback on a Youtube 
      Video without having to sit through a whole lot of coments.
      Users can see the sentiment score of each comment as well
      as the overall average of all the coments.
    </p>
  </div>
  <div class="hero-logo">
    <img class="hero-logo" src="assets/SentimentCard.png">
  </div>
</div>
<hr>
<div class="hero">
  <div class="hero-logo">
    <img class="hero-logo" src="assets/ChannelCard.png">
  </div>
  <div class="hero-text">
    <h2>Channel Sentiment</h2>
    <p>
      Log in to see how your channel is doing without having to
      sit through an inordinate amount of comments. Just set your
      channel in the profile and we'll show you your sentiments from
      a bunch of your videos.
    </p>
  </div>
</div>
<hr>
<div class="hero">
  <div class="hero-text">
    <h2>Autosave History</h2>
    <p>
      Returning User? No worries, all your history has been saved
      so that you can view the videos you have already seen.
    </p>
  </div>
  <div class="hero-logo">
    <img class="hero-logo" src="assets/HistoryCard.png">
  </div>
</div>
<hr>