<div class="hero">
  <div class="hero-logo">
    <img class="hero-logo" src="assets/full-compressed.png">
  </div>
  <div class="hero-text">
    <h1>Opinionated? Welcome to the Internet.</h1>
  </div>
</div>
<hr>
<div class="hero">
  <div class="hero-text">
    <h2>Comments Sentiment Analysis</h2>
    <p>Analyze youtube comments of a video and get an overall score!</p>
  </div>
  <div class="hero-logo">
    <img class="hero-logo" src="assets/full-compressed.png">
  </div>
</div>
<hr>
<div class="hero">
  <div class="hero-logo">
    <img class="hero-logo" src="assets/full-compressed.png">
  </div>
  <div class="hero-text">
    <h2>Channel Sentiment Analysis</h2>
    <p>Log in and set your channel to see what other youtubers think of you!</p>
  </div>
</div>