/* You can add global styles to this file, and also import other style files */
body  {
  background-color: #20262e;
  color: #e2e2e2;
}

a {
  color: #ff6877;
}

th, td.centerAlign {
  text-align: center;
}

.form-control, .form-control:focus, .dropdown-menu, .dropdown-item,
  select, .custom-select, .page-link:hover {
  background-color: rgba(0,0,0,.25);
  border: none;
  color: #e2e2e2;
}

select option, .page-link {
  background-color: #20262e;
  border: none;
  color: #e2e2e2;
}

.page-item.disabled .page-link {
  background-color: #20262e;
  border: none;
}

.dropdown-item:hover{
  background-color: #bd2130;
  border: none;
  color: #e2e2e2;
}

.page-item.active .page-link {
  border: none;
  color: #e2e2e2;
}

div.center {
  display: flex;
  justify-content: center;
}

iframe {
  border: 0
}

.progress {
  width: 200px;
  height: 30px;
  background-color: #464b50;
  margin: auto;
}

.progress-bar {
  color: white;
  font-weight: bold;
}

.toast.show, .toast-header, .close, .close:hover {
  background-color: #282f3a;
  color: #e2e2e2;
  border-radius: 20px;
  border: none;
}